<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.png"/>
            <font id="bannerFont" color="white"><a href="index.html" class="homelink">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.html">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>Defenses</h1>
              <p>Defenses agains the Ducky can take several forms, though each can be bypassed with some effort, so a combination of several methods is necessary to ensure security.</p>
              <h3>Physical Access</h3>
              <p>The Ducky requires physical access to the target machine, or specifically, a USB port on the target machine. It doesn't have to be consistent access, just long enough for the script to run and the attacker to remove or hide the Ducky. Physical security is necessary to prevent an attack from gaining illicit access to the machine, and training against social engineering will help prevent more sophisticated attackers from talking their way into access. </p>
              <img id="indoc" source="../static/socialEngineering.jpg" />
              <p>Furthermore, ensuring that your device is locked whenever you leave it unattended goes a long way towards ensuring its security. The Rubber Ducky can be used to guess passwords to attempt to break into the device, but this both takes away from the time the attacker has before you return, and outright fails in the case of strong enough passwords.</p>
              <img id="indoc"  src="../static/macLock.jpg" width="200"/>
              <h3>Verifying Devices</h3>
              <p>Beyond preventing all physical access to the target machine, a method of verifying the devices allowed to connect to it would provide another defense against the Ducky. Unfortunately, the HID standard does not contain any mechanism for this. The best current way to accomplish this is with group policies, and whitelisting or blacklisting USB devices. However, even this can be circumvented with time, as the Ducky gets to control what information it sends to the computer, so any white or blacklist is inherently limited by the GIGO rule: Garbage in, Garbage out.</p>

          </div>

        </div>



        <div id="push"></div>
    </div>

    <div id="footer">Adam Tigar and Ben Stone, Rubber Ducky USB</div>
  </body>
</html>
