<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.jpg"/>
            <font id="bannerFont" color="white">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.html">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>History</h1>

              <h3>First Keyboards</h3>
              <p>In 1986, IBM released their first PC equipped with a keyboard, the Model M. With it came the PS/2 port specifically made for keyboard and mouse inputs on PCs. These devices often requried specific drivers for the PS/2 port to function. Without them the port registers no input.</p>
              <img id="indoc" src="../static/PS2.jpg"/>
              <div id="spush"></div>
              <h3>USB - Universal Serial Bus</h3>
              <p>Changed the use of ports for computer peripherals immensley. Though current computers (such as Apple's Macbook Pro) have migrated to the slimmer USB-C, basic USB 2.0/3.0 is found on most devices. These devices subscribe to <strong><i>USB Human Interface Device Compliance</i></strong>, which defines the how computers connect to USB devices.</p>
              <img id="indoc" src="../static/usbcable.jpg"/>
          </div>

        </div>



        <div id="push"></div>
    </div>

    <div id="footer">Adam Tigar and Ben Stone, Rubber Ducky USB</div>
  </body>
</html>
