<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.jpg"/>
            <font id="bannerFont" color="white">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="the_tech.html">The Tech</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.hmtl">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="the_tech.html">The Tech</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>Impacts</h1>
              <p>The Rubber Ducky relies on the fact that, at some level, user input must be trusted. At a computer without this trust, no one would ever be able to do anything, so it would be useless. This means security is necessarily limited, and the Rubber Ducky exploits this by masquerading as user input. The impact of this is that security now requires mechanisms to verify user input, or otherwise prevent malicious input from ever entering the system. Antivirus software, firewalls, and network management are all bypassed, so another layer of security becomes necesary. There are three main areas that are impacted: trusting user input, trusting devices, and the imbalance between attacker and defender.</p>
              <h3>Trusting User Input</h3>
              <p>The Rubber Ducky, if programmed well, is very difficult to distinguish from user input. Effectively, anything a user could legitimately do or gain access to, the Ducky can as well. </p>
          </div>

        </div>



        <div id="push"></div>
    </div>

    <div id="footer">Basic Website template</div>
  </body>
</html>
