<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.png"/>
            <font id="bannerFont" color="white"><a href="index.html" class="homelink">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.html">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>The Basics</h1>
              <p>The Rubber Ducky is a microchip with a USB connector that pretends to be a keyboard and connect to any PC with an active USB port. The attacker plugs it into a USB port on the target computer, and the Ducky automatically boots and runs a script to execute whichever commands the attacker has programmed to the chip. The computer reads these commands as legitimate input from a keyboard (the Ducky pretends to be typing them), which lets the attacker act as the user, bypassing most normal security.</p>
              <img id="indoc" src="../static/duckyUSB.jpg"/>
              <p>At its most basic level, Ducky works because keyboards, and USB devices in general, are trusted to be what they say they are. The computer has no way of inherently recognizing the difference between a USB, a keyboard, and a mouse; they all plug into the same port. Legitimate devices will send a code (USB HID Compliant code, described in more detail in <a href="history.html" class="ref"><u>History</u></a> indicating what they are, but this opens the door for the Ducky to claim that it is something it is not.</p>
              <img id="indoc" src="../static/payload.jpg"/>
              <p>A variety of premade scripts are available <a href="https://ducktoolkit.com/online" class="ref">online</a>, for everything from installing backdoors and stealing passwords to changing someone's background as a prank. The Rubber Ducky is simple to setup, easily configurable, and extremely powerful.
          </div>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">Adam Tigar and Ben Stone, Rubber Ducky USB</div>
  </body>
</html>
