<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.jpg"/>
            <font id="bannerFont" color="white">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.html">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>References</h1>
              <h3><a class="nav" href="http://usbrubberducky.com/">usbrubberducky.com</a></h3>
              <p> The home of the ducky, basic details and examples, and a variety of useful links.</p>
              <p/>
              <p>The best way to gain an appreciation of the impact of the Rubber Ducky is to look at some of the payloads you can include on it. Here are some of the top sites for premade payloads or ways to generate your own.
              <h3><a class="nav" href="https://ducktoolkit.com/">ducktoolkit.com</a></h3>
              <p> This is a fairly basic and easily configurable site for building payloads, and provides a glimpse at the possibilities that exist, such as capturing system and configuration details, conducting network and port scans, and emailing information home or saving it back to the ducky.</p>
              <h3><a class="nav" href="https://code.google.com/archive/p/simple-ducky-payload-generator/">Simple Ducky Payload Generator</a></h3>
              <p> This is a more advanced payload generator, which can integrate with Netcat and Meterpreter, extract and crack passwords, and more.</p>
              <h3><a class="nav" href="https://github.com/hak5darren/USB-Rubber-Ducky/wiki/Payloads">Rubber Ducky Wiki Payloads</a></h3>
              <p> Here's a list of interesting payloads which are premade for you. These can get more malicious, and even be starting points for different attacks, such as DNS poisoning, disabling antivirus, or installing backdoors.</p>
              <p/>
              <h1>Further Reading</h1>
              <h3><a class="nav" href="https://en.wikipedia.org/wiki/Human_interface_device">Wikipedia HIDs</a></h3>
              <p> This has more information on the Human Interface Device standard, which is what lets the Ducky pretend to be a keyboard.</p>
              <h3><a class="nav" href="https://www.cnet.com/how-to/usb-type-c-thunderbolt-3-one-cable-to-connect-them-all/">The Future of USB</a></h3>
              <p> This article discusses the variety of USB types and the direction we are moving in for the future of connectors</p>


          </div>

        </div>



        <div id="push"></div>
    </div>

    <div id="footer">Adam Tigar and Ben Stone, Rubber Ducky USB</div>
  </body>
</html>
