<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/ducky.css" />
    <title>USB Rubber Ducky Attacks</title>
</head>

<body>
    <div id="wrapper">
        <div id="banner">
            <img id="logo" src="../static/duck.png"/>
            <font id="bannerFont" color="white"><a href="index.html" class="homelink">Rubber Ducky</a></font>
            <div id="menu">
                <ul class="nav">
                    <li class="nav"><a class="nav" href="history.html">History</a></li>
                    <li class="nav"><a class="nav" href="impacts.html">Impacts</a></li>
                    <li class="nav"><a class="nav" href="defenses.html">Defenses</a></li>
                    <li class="nav"><a class='nav' href="the_future.html">The Future</a></li>
                    <li class="nav"><a class='nav' href="references.html">References</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a class="nav" href="history.html">History</a>
                    <a class="nav" href="impacts.html">Impacts</a>
                    <a class="nav" href="defenses.html">Defenses</a>
                    <a class='nav' href="the_future.html">The Future</a>
                    <a class='nav' href="references.html">References</a>
                </div>
            </div>
          </div>

          <div id="main">
              <h1>The Future</h1>
              <p>In the short term, there are no inherent defenses to the Ducky built into either USB 3.0, USB-C, or the HID standard. Defenses may emerge that rely on screening of devices and group policies, but these will probably be implemented on a case to case basis. The Ducky is likely to remain a reliably powerful method of hostile access for a long time. It would require fundamental changes to either the hardware or software of USBs and HIDs in order to plug the vulnerability that the Ducky uses.</p>
              <img id="indoc" src="../static/secure-USB.jpg" />
              <p>In the long term, it's likely that future versions of the HID standard and of USB will contain signatures, security vetting, and other defenses against malicious devices. However, while this may make the Ducky more difficult to use, there will still be security holes in these measures. In that case, the Ducky simply becomes another access point that must be guarded against, with security measures that must be consistently patched and kept up to date. Just as some systems will have vulnerabilities in their network configurations, others will have vulnerabilities in their USB security configuration, making it one more part of the security tapestry.
          </div>

        </div>



        <div id="push"></div>
    </div>

    <div id="footer">Adam Tigar and Ben Stone, Rubber Ducky USB</div>
  </body>
</html>
